<script type="text/javascript">
  window.experiment = <%= raw @experiment.to_json %>;
  window.all_samples = <%= raw @all_samples.to_json %>;
  window.samples = <%= raw @samples.to_json %>
</script>

<div class="page-view">
	<h1><%= @experiment['name'] %></h1>
		<%= render 'experiments/update' if is_researcher? %>
    <%= render 'samples/rate', :locals => {:samples => @samples.to_json, :experiment => @experiment.to_json} if is_participant? %>
</div>